name: deploy
on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b6fe05b0da9e0104e35e3b762a5566 # v5

      - name: Setup Timezone
        uses: szenius/set-timezone@c4ce3fd4df157e69c2b005c3aa94d5d928a979d3 # v2.0
        with:
          timezoneLinux: "Europe/Madrid"

      - name: Setup Java
        uses: actions/setup-java@d046cf85cfefeb189c5ca22646a6d4e16dbba781 # v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Unit Tests
        run: ./mvnw -B clean package

      - name: Integration Tests
        run: ./mvnw -B clean verify

      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@f81df6fa48910b8e2bfcf3d1a4a34e49a8e9e1dc # v.2.1.0
        with:
          generate-branches-badge: true

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"   

      - name: Sonar
        run: ./mvnw -B sonar:sonar -Dsonar.login=${{secrets.SONAR_TOKEN}}

      - name: Commit and push the badge (if it changed)
        uses: EndBug/add-and-commit@1f5d61e4b4df7217b2e143597a4cfeec8330a36e # v9
        with:
          default_author: github_actions
          message: 'commit badge'
          add: '*.svg'

      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@c7d193f32b918a71f2b3de5a03f66ab427dbf5b1 # v4
        with:
          name: jacoco-report
          path: target/site/jacoco/

      - name: Rename the artifact
        run: cp target/poc-hotel-0.0.1.jar poc-hotel-0.0.1.jar

      - name: Save the artifact
        uses: actions/upload-artifact@c7d193f32b918a71f2b3de5a03f66ab427dbf5b1 # v4
        with:
          name: poc-hotel
          path: poc-hotel-0.0.1.jar

  upload-dockerhub:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b6fe05b0da9e0104e35e3b762a5566 # v5

      - name: Get the artifact
        uses: actions/download-artifact@65d862ecf7e468fa7a38e8655d9b6bce7d627efd # master
        with:
          name: poc-hotel

      - name: List files
        run: ls

      - name: docker login
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: |
          docker login -u ${{secrets.DOCKER_USER}} -p ${{secrets.DOCKER_PASSWORD}}

      - name: Build the Docker image
        run:  docker build -t ${{secrets.DOCKER_USER}}/poc-hotel --build-arg VERSION=0.0.1 .

      - name: Docker Push
        run: docker push ${{secrets.DOCKER_USER}}/poc-hotel
