name: code-maven-PR-verify
on:
  workflow_dispatch:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Code / Verify
    permissions:
      contents: write
      checks: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}

      - name: Setup Timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Madrid"

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Unit Tests
        run: ./mvnw -B clean package

      - name: Integration Tests
        run: ./mvnw -B clean verify

      - name: Generate JaCoCo Badges for BC-Hotel
        id: jacocoBCHotel
        uses: cicirello/jacoco-badge-generator@v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: bc-hotel/target/site/jacoco/jacoco.csv
          coverage-badge-filename: jacocoBCHotel.svg
          branches-badge-filename: branchesBCHotel.svg
          coverage-label: coverage (BC-Hotel)
          branches-label: branches (BC-Hotel)
          workflow-summary-heading: JaCoCo Test Coverage Summary BC-Hotel

      - name: Generate JaCoCo Badges for BC-Reservation
        id: jacocoBCReservation
        uses: cicirello/jacoco-badge-generator@v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: bc-reservation/target/site/jacoco/jacoco.csv
          coverage-badge-filename: jacocoBCReservation.svg
          branches-badge-filename: branchesBCReservation.svg
          coverage-label: coverage (BC-Reservation)
          branches-label: branches (BC-Reservation)
          workflow-summary-heading: JaCoCo Test Coverage Summary BC-Reservation

      - name: Upload JaCoCo coverage report for BC-Hotel
        uses: actions/upload-artifact@v5
        with:
          name: jacoco-report-bc-hotel
          path: bc-hotel/target/site/jacoco/
          
      - name: Upload JaCoCo coverage report for BC-Reservation
        uses: actions/upload-artifact@v5
        with:
          name: jacoco-report-bc-reservation
          path: bc-reservation/target/site/jacoco/

      - name: Sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./mvnw sonar:sonar -Dsonar.login="$SONAR_TOKEN" -Dsonar.projectKey=poc-hotel -Dsonar.organization=psanchez78 -Dsonar.qualitygate.wait=true
      
      - name: Commit and push the badge (if it changed)
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'commit badge'
          add: '*.svg'
