name: code-maven-PR-sonar
on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Sonar verify
    permissions:
      contents: write
      checks: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b6fe05b0da9e0104e35e3b762a5566
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}

      - name: Setup Timezone
        uses: szenius/set-timezone@c4ce3fd4df157e69c2b005c3aa94d5d928a979d3
        with:
          timezoneLinux: "Europe/Madrid"

      - name: Setup Java
        uses: actions/setup-java@d046cf85cfefeb189c5ca22646a6d4e16dbba781
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Cache local Maven repository
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Package
        run: ./mvnw -B clean package -DskipTests

      - name: Sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./mvnw sonar:sonar -Dsonar.login=${{secrets.SONAR_TOKEN}} -Dsonar.projectKey=poc-hotel -Dsonar.organization=psanchez78 -Dsonar.qualitygate.wait=true
