name: renovate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run Renovate
        uses: renovatebot/github-action@ea8504313f894956ec9cc91901053123b37996c5 # v43.0.20
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: 'debug'
          #RENOVATE_AUTODISCOVER: true #Search all repositories
